<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.edu.employmentservices.dao.ClassesMapper">

    <resultMap id="grabyclassmap" type="Classes">
        <id property="classId" column="classId"></id>
        <result property="classNum" column="classNum"></result>
        <result property="classcount" column="classcount"></result>
        <collection property="graduatesList" javaType="List" ofType="Graduates"
                    column="classId"
                    select="nuc.edu.employmentservices.dao.GraduatesMapper.getGraduatesByClassId">
        </collection>
    </resultMap>
<!--    public List<Classes> getAllClasses();-->
    <select id="getAllClasses" resultType="Classes" resultMap="grabyclassmap">
        SELECT * from Classes
    </select>

<!--    public Classes getClassesById(Integer classId);-->
    <select id="getClassesById" parameterType="Integer" resultMap="grabyclassmap">
        SELECT * from Classes where classId=#{classId}
    </select>


    <select id="getGraduatesByClasses" parameterType="Integer" resultMap="grabyclassmap">
        select * from Classes where classId=#{classId}
    </select>


    <select id="getClassesNums" resultMap="grabyclassmap">
        select classes.classId ,classes.classNum, count(*) classcount
            from graduate,classes
            where graduate.graClassId=classes.classId
            GROUP BY classes.classId
            ORDER BY classes.classId
    </select>

    <select id="getClassCount" resultType="Integer">
        select count(*) num from classes
    </select>


<!--    饼状图的语句-->
    <select id="getFiveClasses" resultType="Classes" >
        SELECT g.nums AS classNum ,c.classNum AS  count FROM (
            SELECT COUNT(graClassId) AS nums,graClassId FROM graduate  GROUP BY graClassId
            ) g
            RIGHT JOIN classes c ON  g.graClassId = c.`classId` ORDER BY(classNum) DESC LIMIT 5 ;
    </select>


<!--    柱状图的语句-->
    <select id="getQUClasses" resultType="Classes">
        SELECT g.nums AS classNum ,c.classNum AS  count FROM (
            SELECT COUNT(graClassId) AS nums,graClassId FROM graduate  GROUP BY graClassId
            ) g
            RIGHT JOIN classes c ON  g.graClassId = c.`classId`;
    </select>




</mapper>
