<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    //对应Don层，操作数据库-->
<mapper namespace="nuc.edu.employmentservices.dao.ContantMapper">

    <select id="getAll"  resultType="nuc.edu.employmentservices.enity.Contant" >
        SELECT * from contant_info
    </select>


<!--    根据ID查询 resultType结果集 parameterType传参类型-->
    <select id="getClassesById" parameterType="Integer" resultType="nuc.edu.employmentservices.enity.Contant">
        SELECT * from contant_info where id=#{contantId}
    </select>

<!--    public List<Graduates> getGraduatesByClasses(Integer classId)-->
<!--    根据ID删除数据 删除 不需要结果集 parameterType传参类型 -->
    <delete id="delete" parameterType="Integer" >
        delete  from contant_info where id=#{contanId}
    </delete>

<!--    public List<Classes> getClassesNums();;-->
<!--    修改表-->
    <update id="update" parameterType="nuc.edu.employmentservices.enity.Contant">
       update  contant_info   set type=#{type}, title =#{title}, constant=#{constant }, time=#{time}  where id = ${id}
    </update>

<!--    public Integer getClassCount();-->
    <select id="getClassCount" resultType="Integer">
        select count(*) num from contant_info
    </select>

    <insert id="insert" parameterType="nuc.edu.employmentservices.enity.Contant">
        insert into contant_info(id,type,title,constant,time) values (null,#{type},#{title},#{constant},#{time});
    </insert>


    <select id="getCkgg" parameterType="contant" resultType="Contant">
        SELECT id,`type`,title,constant as constant,`time` FROM contant_info
        where 1 = 1
        <choose>
            <when test="contant.type != null">
                and type =#{contant.type}
            </when>
            <when test="contant.title != null">
                and title =#{contant.title}
            </when>
        </choose>


    </select>
</mapper>
