<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nuc.edu.employmentservices.dao.GraduatesMapper">

    <resultMap id="graduatemap" type="Graduates">
        <id property="graID" column="graID"></id>
        <result property="graSex" column="graSex"></result>
        <result property="graTel" column="graTel"></result>
        <result property="graTime" column="graTime"></result>
        <result property="graSalary" column="graSalary"></result>
        <result property="status" column="status"></result>
<!--        <result property="comAddress" column="comAddress"></result>-->
<!--        <result property="graName" column="userName"></result>-->
        <association property="classes" javaType="Classes">
            <id property="classId" column="classId"></id>
            <result property="classNum" column="classNum"></result>
        </association>

        <association property="company" javaType="Company">
            <id property="comId" column="comId"></id>
            <result property="comName" column="comName"></result>
            <result property="comMeg" column="comMeg"></result>
            <result property="comAddress" column="comAddress"></result>
            <result property="comHr" column="comHr"></result>
            <result property="comHrTel" column="comHrTel"></result>
            <result property="comCount" column="comCount"></result>
        </association>

        <association property="direction" javaType="Direction">
            <id property="dirID" column="dirID"></id>
            <result property="dirName" column="dirName"></result>
        </association>

        <association property="user" javaType="User">
            <id property="userId" column="userId"></id>
            <result property="userName" column="userName"></result>
            <result property="graID" column="graID"></result>
            <result property="useraccount" column="useraccount"></result>
            <result property="userPassword" column="userPassword"></result>
            <result property="types" column="types"></result>
        </association>


    </resultMap>

<!--这个-->
    <select id="getAllGraduates"  resultMap="graduatemap">
         select *
            from graduate,classes,company,direction,`user`
            where graduate.graClassId=classes.classId
                    and graduate.graComId=company.comId
                    and graduate.graDirId=direction.dirID
					and graduate.graId=`user`.graID
					and status ="1"
    </select>

    <select id="getGraduatesByClassId" parameterType="Integer" resultMap="graduatemap">
        select *
            from classes,graduate,`user`,direction,company,jobs
            where classId=1
              and classes.classId = graduate.graClassId
                and graduate.graID = `user`.graID
                and graduate.graDirId = direction.dirID
                and graduate.graComId = company.comId
                and company.comJobId=jobs.jobId
    </select>


    <select id="getGraduatesById" parameterType="Integer" resultMap="graduatemap">
        select *
            from graduate,classes,company,direction,`user`
                   where graduate.graID=#{graID}
                             and graduate.graClassId=classes.classId
                            and graduate.graComId=company.comId
                            and graduate.graDirId=direction.dirID
                            and graduate.graID = user.graID
    </select>

<!--添加就业信息-->
    <insert id="insertGraduates" parameterType="Graduates" useGeneratedKeys="true" keyProperty="graID" keyColumn="graID">
        insert  into graduate(graSex,graTel,graClassId,graTime,graComId,graDirId,graSalary,status,comAdd)
        values(#{graSex},#{graTel},#{classes.classId},#{graTime},#{company.comId},#{direction.dirID},#{graSalary},'0',#{company.comAddress})
    </insert>

    <delete id="deleteGraduates" parameterType="Integer">
        delete from graduate where graID=#{graID}
    </delete>

    <update id="updateGraduatesById" parameterType="Graduates">
        update graduate set graSex=#{graSex},graTel=#{graTel},graClassId=#{classes.classId},
        graTime=#{graTime},graComId=#{company.comId},graDirId=#{direction.dirID},graSalary=#{graSalary},status='0'
        where graID=#{graID}
    </update>

    <select id="Getgranum" resultType="Integer">
        select count(*) num from graduate,`user`
        where graduate.graId=`user`.graID
    </select>

<!--    public List<Graduates> getGraduatesByClass(Integer graClassId);-->
    <select id="getGraduatesByClass"  parameterType="Integer" resultMap="graduatemap">
        select graduate.graID graID,classNum,graSalary,userName,graSex,graTel,classNum, dirName,graTime,comName,jobName,graSex,
            from classes,graduate,`user`,direction,company,jobs
            where classId=#{graClassId}
              and classes.classId = graduate.graClassId
                and graduate.graID = `user`.graID
                and graduate.graDirId = direction.dirID
                and graduate.graComId = company.comId
                and company.comJobId=jobs.jobId


    </select>


<!--    public List<Graduates> getGraduatesByCompany(Integer comId);-->
    <select id="getGraduatesByCompany" parameterType="Integer" resultMap="graduatemap">
        select graduate.graID graID,classNum,graSalary,userName,graSex,graTel,classNum, dirName,graTime,comName,jobName
            from classes,graduate,`user`,direction,company,jobs
            where company.comId=#{comId}
              and classes.classId = graduate.graClassId
                and graduate.graID = `user`.graID
                and graduate.graDirId = direction.dirID
                and graduate.graComId = company.comId
                and company.comJobId=jobs.jobId
    </select>


    <select id="getGraduatesByDirection"  parameterType="Integer" resultMap="graduatemap">
        select graduate.graID graID,classNum,graSalary,userName,graSex,graTel,classNum, dirName,graTime,comName,jobName
            from classes,graduate,`user`,direction,company,jobs
            where direction.dirId=#{dirId}
              and classes.classId = graduate.graClassId
                and graduate.graID = `user`.graID
                and graduate.graDirId = direction.dirID
                and graduate.graComId = company.comId
                and company.comJobId=jobs.jobId
    </select>


<!--    按照条件查询-->
    <select id="select" parameterType="Graduates" resultMap="graduatemap">
        SELECT
        a.graID,a.userName,a.graSex,a.graTel,a.classNum,a.graTime,a.comName,a.dirName,a.graSalary,a.comAddress
        FROM (
        SELECT
        graduate.graID,`user`.userName,graduate.graSex,graduate.graTel,classes.classNum,graduate.graTime,company.comName,direction.dirName,graduate.graSalary,company.comAddress
        FROM graduate,classes,company,direction,`user`
        WHERE graduate.graClassId=classes.classId
        AND graduate.graComId=company.comId
        AND graduate.graDirId=direction.dirID
        AND graduate.graId=`user`.graID
        ) a
        where 1 = 1
        <choose>
                <when test="user.userName != null">
                   and  a.userName=#{user.userName}
                </when>
                <when test="classes.classNum != null">
                and a.classNum= #{classes.classNum}
                </when>
                <when test="company.comName !=null">
                   and a.comName= #{company.comName}
                </when>
<!--            <when test="company.comMeg !=null">-->
<!--                and a.comMeg=#{company.comMeg}-->
<!--            </when>-->
                <when test="company.comAddress != null">
                    and a.comAddress=#{company.comAddress}
                </when>
                <when test="direction.dirName != null">
                    and a.dirName=#{direction.dirName}
                </when>


            </choose>


    </select>
    <!--薪资统计的饼状图-->
    <select id="getSalary" resultType="Graduates">
    SELECT COUNT(graSalary) AS num,graSalary FROM graduate WHERE STATUS="1"
    GROUP BY graSalary DESC LIMIT 5;
    </select>

    <!--薪资统计的柱状图-->
    <select id="getASalary" resultType="Graduates">
    SELECT COUNT(graSalary) AS num,graSalary FROM graduate  WHERE STATUS="1"
     GROUP BY graSalary DESC;
    </select>

<!--    地区统计的饼状图-->
    <select id="getRegion" resultType="View">

        SELECT g.nums AS value , c.comAddress  AS  name FROM (
        SELECT COUNT(graComId) AS nums,graComId,STATUS AS st FROM graduate  GROUP BY graComId
        ) g
    RIGHT JOIN company c ON  g.graComId = c.comId AND g.st="1" ORDER BY (value) DESC LIMIT 5;

    </select>


    <!--    地区统计的柱状图-->
    <select id="getARegion" resultType="View">
        SELECT g.nums AS value , c.comAddress  AS  name FROM (
            SELECT COUNT(graComId) AS nums,graComId,STATUS AS st FROM graduate  GROUP BY graComId
            ) g
            RIGHT JOIN company c ON  g.graComId = c.comId AND g.st="1";
    </select>

<!--    查找未审核的学生信息-->
    <select id="getWtj" parameterType="Graduates" resultMap="graduatemap">
         SELECT
        a.graID,a.userName,a.graSex,a.graTel,a.classNum,a.graTime,a.comName,a.dirName,a.graSalary,a.comAddress,a.status
        FROM (
        SELECT
        graduate.graID,`user`.userName,graduate.graSex,graduate.graTel,classes.classNum,graduate.graTime,company.comName,direction.dirName,graduate.graSalary,company.comAddress,graduate.status
        FROM graduate,classes,company,direction,`user`
        WHERE graduate.graClassId=classes.classId
        AND graduate.graComId=company.comId
        AND graduate.graDirId=direction.dirID
        AND graduate.graId=`user`.graID
        ) a
        where a.status = '0' ;

    </select>
    <select id="getWt" parameterType="Graduates" resultMap="graduatemap">
        SELECT
            a.graID,a.userName,a.graSex,a.graTel,a.classNum,a.graTime,a.comName,a.dirName,a.graSalary,a.comAddress,a.status
        FROM (
                 SELECT
                     graduate.graID,`user`.userName,graduate.graSex,graduate.graTel,classes.classNum,graduate.graTime,company.comName,direction.dirName,graduate.graSalary,company.comAddress,graduate.status
                 FROM graduate,classes,company,direction,`user`
                 WHERE graduate.graClassId=classes.classId
                   AND graduate.graComId=company.comId
                   AND graduate.graDirId=direction.dirID
                   AND graduate.graId=`user`.graID
             ) a
        where a.status = '0' and graID = #{graID};

    </select>


    <!--    根据id查找未审核的学生信息-->
    <select id="getWtjByid" parameterType="Graduates" resultMap="graduatemap">
        SELECT
        a.graID,a.userName,a.graSex,a.graTel,a.classNum,a.graTime,a.comName,a.dirName,a.graSalary,a.comAddress,a.status
        FROM (
        SELECT
        graduate.graID,`user`.userName,graduate.graSex,graduate.graTel,classes.classNum,graduate.graTime,company.comName,direction.dirName,graduate.graSalary,company.comAddress,graduate.status
        FROM graduate,classes,company,direction,`user`
        WHERE graduate.graClassId=classes.classId
        AND graduate.graComId=company.comId
        AND graduate.graDirId=direction.dirID
        AND graduate.graId=`user`.graID
        ) a
        where status = '0' and graID=#{graID} ;
    </select>

<!--        修改审核状态-->
    <update id="updateById" parameterType="Graduates" >
            update graduate set status=${status} where graID=#{graID}
    </update>

</mapper>