<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.edu.employmentservices.dao.JobsMapper">

    <select id="getAllJobs" resultType="Jobs">
        select * from jobs
    </select>

    <select id="getJobsById" parameterType="Integer" resultType="Jobs">
        select * from jobs where jobId=#{jobId}
    </select>



</mapper>