<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员信息管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div th:replace="common::#topbar"></div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div th:replace="common::#leftbar"></div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <xblock>
                <a style="color: chartreuse" th:href="@{/toaddmanageaccount}">添加管理员</a>

                <span class="x-right" style="line-height:40px">管理员数据</span>
            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>管理员编号</th>
                        <th>管理员姓名</th>
                        <th>管理员账户名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="manageUser:${manageUsers}">
                        <td th:text="${manageUser.getUserId()}">管理员编号</td>
                        <td th:text="${manageUser.getUserName()}">管理员姓名</td>
                        <td th:text="${manageUser.getUseraccount()}">管理员账户名</td>
                        <td class="td-manage">

                            <a title="编辑" th:href="@{/toupdatemanageaccount/}+${manageUser.getUserId()}" methods="post">
                                <button type="button" class="layui-btn">编辑</button>
                            </a>
                            <!--                            member_del-->
                            <a title="删除" th:href="@{/deletemanageaccount/}+${manageUser.getUserId()}" methods="post">
                                <button type="button" class="layui-btn layui-btn-danger">删除</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div th:replace="common::#bottombar"></div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    <div th:replace="common::#backbar"></div>
    <!-- 背景切换结束 -->
</body>
</html>