<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>高校就业管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
<div th:replace="common::#topbar"></div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div th:replace="common::#leftbar"></div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <xblock>

                <span class="x-right" style="line-height:40px">共有数据：[[${num}]]条</span>
            </xblock>
            <table class="layui-table" >
                <div>
                    <form th:action="@{/memberlist2}" method="post">
                        类别 <input name="type"  type="text" value="" style="background: #c2c2c2;color:#000"/>
                        标题 <input name="title"  type="text" value="" style="background: #c2c2c2;color:#000" />
                        <input type="submit" value="查询" style="background: #0C0C0C"/>
                        <input type="reset" style="background: #0C0C0C"/>
                    </form>
                </div>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>类别</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contant,status:${contantList}">
                    <td th:text="${status.index+1}"></td>
                    <td th:text="${contant.getType()}"></td>
                    <td th:text="${contant.getTitle()}"></td>
                    <td th:text="${contant.getConstant()}"></td>
                    <td th:text="${#dates.format(contant.getTime(), 'yyyy-MM-dd')}"></td>
                    <td class="td-manage">

                        <!--                            member_edit-->
                        <a title="查看" th:href="@{/view/}+${contant.getId()}" methods="post">
                            <button type="button" class="layui-btn">查看</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<div th:replace="common::#bottombar"></div>
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div th:replace="common::#backbar"></div>

<script type="text/javascript">
    layui.use('laydate', function () {
         let laydate = layui.laydate;
    })
</script>
</body>
</html>